body { background-color:black; }
.container { width:1000px;margin:auto;position:relative;top:100px; }
.dont_see_only_result { padding:30px 50px;border:2px solid yellow;border-radius:20px;width:1000px;font-size:10em;font-weight:7em; }
